<!-- contains a partial for an individual blog page -->

<h1><%= post['title'] %></h1>
<p>
  <%= post['content'] %>
</p>
<p>
  <%= post['created_at'] %>
</p>
<!-- Adds the title to the layout  - see EJS Layouts -->
<%- contentFor('title') %>
<%= post['title'] %>
